<div class="main">
  <div class="container">
    <div class="content-container">
      <div class="content">
        <!-- Studierender -->
        <h1 class="fade-in">
          <a href="https://de.wikipedia.org/wiki/SQL_Server_Reporting_Services" target="_blank"><span>S</span></a>
          <a href="https://de.wikipedia.org/wiki/Transact-SQL" target="_blank"><span>t</span></a>
          <a href="https://de.wikipedia.org/wiki/Unix" target="_blank"><span>u</span></a>
          <a href="https://de.wikipedia.org/wiki/Datenbank" target="_blank"><span>d</span></a>
          <a href="https://de.wikipedia.org/wiki/Internet" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>n</span></a>
          <a href="https://de.wikipedia.org/wiki/RAM" target="_blank"><span>t</span></a>

0.        </h1>

        <!-- BI-Developer -->
        <h1 class="fade-in" style="animation-delay: 0.5s;">
          <a href="https://www.bfh.ch/de/" target="_blank"><span>B</span></a>
          <a href="https://de.wikipedia.org/wiki/Informationstechnologie" target="_blank"><span>I</span></a>
          <a href="https://dnug-bern.ch/Veranstaltungen/Danke/SyrianHadad " target="_blank"><span>-</span></a>
          <a href="https://de.wikipedia.org/wiki/Dashboard_(Informationsmanagement)" target="_blank"><span>D</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Verteiltes_Rechnen" target="_blank"><span>v</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Local_Area_Network" target="_blank"><span>l</span></a>
          <a href="https://de.wikipedia.org/wiki/Open_Source" target="_blank"><span>o</span></a>
          <a href="https://de.wikipedia.org/wiki/Power_BI" target="_blank"><span>p</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Router" target="_blank"><span>r</span></a>
        </h1>

        <!-- Datenmanagement -->
        <h1 class="fade-in" style="animation-delay: 1s;">
          <a href="https://de.wikipedia.org/wiki/Datenbank" target="_blank"><span>D</span></a>
          <a href="https://de.wikipedia.org/wiki/Angular" target="_blank"><span>a</span></a>
          <a href="https://de.wikipedia.org/wiki/Turingmaschine" target="_blank"><span>t</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Netzwerk" target="_blank"><span>n</span></a>
          <a href="https://de.wikipedia.org/wiki/Modellierung" target="_blank"><span>m</span></a>
          <a href="https://de.wikipedia.org/wiki/Angular" target="_blank"><span>a</span></a>
          <a href="https://de.wikipedia.org/wiki/Netzwerk" target="_blank"><span>n</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>a</span></a>
          <a href="https://de.wikipedia.org/wiki/Git" target="_blank"><span>g</span></a>
          <a href="https://de.wikipedia.org/wiki/Elektronische_Datenverarbeitung" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Modellierung" target="_blank"><span>m</span></a>
          <a href="https://de.wikipedia.org/wiki/Microsoft_Excel" target="_blank"><span>e</span></a>
          <a href="https://de.wikipedia.org/wiki/Netzwerk" target="_blank"><span>n</span></a>
          <a href="https://de.wikipedia.org/wiki/Turingmaschine" target="_blank"><span>t</span></a>
        </h1>
      </div>
    </div>
  </div>
</div>
