.main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.tb-container {
  width: 80%; /* Hauptcontainer auf 80% begrenzen */
  max-width: 1200px; /* Maximale Breite */
  margin: 0 auto; /* Zentrieren */
  padding: 0;
  box-sizing: border-box;
}

.slide-in-element {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  text-align: center;
}

.in-view {
  opacity: 1;
  transform: translateY(0);
}

.line {
  height: 4px;
  background-color: black;
  width: 100%;
  margin: 0 auto;
}

.title {
  line-height: 1.2;
  font-size: 3rem;
  text-align: center;
}

.tb-height--20 {
  margin-bottom: 40px;
}

.timeline-container {
  width: 100%; /* Füllt den Hauptcontainer komplett aus */
  display: flex;
  justify-content: center;
}

.timeline-iframe {
  width: 100%; /* Füllt die Breite des Containers */
  max-width: 100%; /* Keine Einschränkung innerhalb des Containers */
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}


/* Responsive Anpassung für kleine Bildschirme */
@media (max-width: 768px) {
  .tb-container {
    width: 100%; /* Volle Breite auf kleineren Bildschirmen */
  }

  .timeline-iframe {
    height: 400px; /* Reduzierte Höhe für kleine Bildschirme */
  }
}

@media (max-width: 480px) {
  .line {
    width: 90%;
  }

  .title {
    font-size: 1.8rem;
  }

  .timeline-iframe {
    height: 350px; /* Noch kompakter auf sehr kleinen Bildschirmen */
  }
}
