<div class="main tb-position--relative" ngClass.xs="xs" ngClass.sm="sm">
  <div class="tb-container tb-position--relative container">
    <div fxLayout="column" fxLayoutAlign="center center">
      
      <!-- Zentrierter Titel -->
      <div class="slide-in-element" fxLayout="row" fxLayoutAlign="center center">
        <h2 class="title current-typo--h4">Lebenslauf</h2>
      </div>

      <!-- Zentrierte Linie -->
      <div class="slide-in-element" fxLayout="row" fxLayoutAlign="center center">
        <div class="line tb-color-bg--black"></div>
      </div>

      <div class="tb-height--20"></div>

      
      
    </div>
  </div>
</div>
