<div class="main tb-position--relative">
  <div class="tb-container">

    <!-- Zentrierter Titel -->
    <div class="slide-in-element">
      <h2 class="title">Lebenslauf</h2>
    </div>

    <!-- Zentrierte Linie -->
    <div class="slide-in-element">
      <div class="line"></div>
    </div>

    <div class="tb-height--20"></div>

    <!-- Zeitstrahl-Container -->
    <div class="slide-in-element timeline-container">
      <iframe 
        src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1pUmC0MRBS_7MCRsTRkrA0H4eFyRoCF_fzvdl7PteBMU&font=Default&lang=de&initial_zoom=2&height=100%" 
        class="timeline-iframe" 
        allowfullscreen 
        frameborder="0">
      </iframe>
    </div>

  </div>
</div>
