.main {
    .container {
      box-sizing: border-box;
      padding: 0px 20px;
    }
  
    .slide-in-element {
      opacity: 0;
      transform: translateY(100%); 
      transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    }
  
    .in-view {
      opacity: 1;
      transform: translateY(0);
    }
  
    .line {
      height: 4px;
      background-color: black;
      width: 60vw;
      position: absolute; 
      left: 50%; 
      transform: translateX(-50%);
      
    }
  
      form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box;
  }
    .title {
      line-height: 1.2;
      font-size: 3rem;
      text-align: center;
    }
  
    .tb-height--20 {
      margin-bottom: 40px;
    }
  
   
    @media (max-width: 1024px) {
      .title {
        font-size: 2.5rem;
      }
    
      .container {
        max-height: 100vh;
        overflow-y: auto;
      }

    .line {
      width: 90%;
    }

    .title {
      font-size: 2rem;
    }
 
    .flex-wrap {
      margin-bottom: 0px;
    }

    form {
      padding: 0px; 
    }

    button {
      margin-top: 0px; 
    }
  }
  
    @media (max-width: 480px) {
      .line {
        width: 90%;
      }
  
      .title {
        font-size: 1.8rem;
      }
  
      .container {
        max-height: 100vh;
        overflow-y: auto;
      }

      .flex-wrap {
        margin-bottom: 10px;
      }
  
      form {
        padding: 10px; 
      }
  
      button {
        margin-top: 16px;
      }
    }
  }
  


  
  

  