<body>
  <main class="scroll-container">
    <router-outlet></router-outlet>
    <section id="top">
      <app-top></app-top>
    </section>
    <div class="platzhalter"></div>
    <section id="uebermich">
      <app-uebermich></app-uebermich>
    </section>
    <div class="platzhalter"></div>
    <section id="portfolio-api">
      <app-portfolio-api></app-portfolio-api>
    </section>
    <div class="platzhalter"></div>
    <section id="lebenslauf">
      <app-lebenslauf></app-lebenslauf>
    </section>
    <div class="platzhalter"></div>
    <section id="kontakt">
      <kontakt></kontakt>
    </section>
  </main>
</body>
