<body>


  <main class="scroll-container">
    <router-outlet></router-outlet>
    <section>
      <app-top></app-top>
    </section>
  <div class="platzhalter"></div>
    <section>
      <app-uebermich></app-uebermich>
    </section>
  <div class="platzhalter"></div>
    <section>
      <app-portfolio-api></app-portfolio-api>
    </section>
    <div class="platzhalter"></div>
    <section>
      <app-lebenslauf></app-lebenslauf>
    </section>
    <div class="platzhalter"></div>
    <section>
      <kontakt></kontakt>
    </section>
  </main>


</body>
