.main {
  .container {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  .slide-in-element {
    opacity: 0;
    transform: translateX(-100%); /* Startposition links außerhalb des Bildes */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
  
  .in-view {
    opacity: 1;
    transform: translateX(0); /* Zielposition, also zentriert */
  }

  .tb-container {
    width: 100vw;
    padding: 0; /* entfernt zusätzliche Abstände */
  }
  
  .line {
    height: 4px;
    background-color: black;
    width: 80%;  /* Nutze 80% statt 100% */
    max-width: none;  /* Entferne eventuelle Begrenzungen */
    margin: 0 auto;  /* Zentriert die Linie */
  }
  
  

  .title {
    line-height: 1.2;
    font-size: 3rem;
    text-align: center;
    transition-delay: 0.1s;
  }

  .tb-height--20 {
    margin-bottom: 40px;
  }

  .grid-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  /* Animation und Stil für die Container */
  .grid-item {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px solid black;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    .grid-title {
      font-size: 1.5rem; /* Größere Schrift */
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      text-decoration: underline; /* Unterstrichen */
    }

    .location {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .temperature {
      font-size: 2rem;
      font-weight: bold;
      color: black;
    }
  }

  /* Responsive Anpassung für kleinere Bildschirme */
  @media (max-width: 768px) {
    .grid-container {
      flex-direction: column;
      align-items: center;
    }

    .grid-item {
      width: 100%;
      max-width: 200px;
    }
  }
}
