.main {
  .container {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  /* Standardzustand für alle slide-in-elemente: Unsichtbar */
  .slide-in-element {
    opacity: 0;
    transform: translateX(100%); /* Von rechts */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  /* Sichtbar, sobald in Sichtweite */
  .in-view {
    opacity: 1;
    transform: translateX(0); /* Bewegt sich in Position */
  }

  .line {
    height: 4px;
    background-color: black; /* Sichtbare Farbe */
    width: 80%;
    margin: 0 auto;
    transition-delay: 0.3s; /* Verzögerung, bis die Linie sichtbar wird */
  }

  .title {
    line-height: 1.2;
    font-size: 3rem;
    text-align: center;
    transition-delay: 0.1s; /* Verzögerung für den Titel */
  }

  .tb-height--20 {
    margin-bottom: 40px;
  }

  .content-text {
    max-width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
  }

  /* Textblöcke mit Verzögerung */
  .content-text:nth-child(1) {
    transition-delay: 0.5s;
  }

  .content-text:nth-child(2) {
    transition-delay: 0.7s;
  }

  .content-text:nth-child(3) {
    transition-delay: 0.9s;
  }

  /* Projekte */
  .experience-projects {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    transition-delay: 1.2s;
  }

  .experience-projects .project-block h2 {
    font-size: 1.7rem;
    margin-bottom: 12px;
  }

  .experience-projects .project-block h4 {
    font-size: 1.1rem;
    margin-top: 4px;
  }
}
