<div class="main tb-position--relative" ngClass.xs="xs" ngClass.sm="sm">
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">

            <div fxLayout="row" fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0">Über mich</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex></div>
            </div>

            <div class="tb-height--20"></div>

            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="column">
                    <div class="tb-height--64"></div>

                    <p class="current-typo--body1-medium tb-color--black-54">Schon während meiner Schulzeit begeisterte ich mich für Informatik. Besonders für die Entwicklung von <span class="tb-color--black">Games</span>. Später während meiner KV-Lehre entwickelte ich ein besonderes Interesse an der <span class="tb-color--black">Datenanalyse</span>.</p>
                    <div class="tb-height--12"></div>

                    <p class="current-typo--body1-medium tb-color--black-54">Durch Zufall entdeckte ich den Bereich Business Intelligence. Seit einem Jahr arbeite ich als Entwickler bei Prodega. Zuvor war ich als Datenmanager bei Interdiscount tätig.</p>
                    <div class="tb-height--12"></div>

                    <p class="current-typo--body1-medium tb-color--black-54">Mein Ziel ist es, in die Richtung Data Science zu gehen.</p>

                    <div class="tb-height--56"></div>

                    <div fxLayout="row">
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">07+</h2>
                            <h4 class="title current-typo--h6">Jahre Erfahrung</h4>
                        </div>

                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">40+</h2>
                            <h4 class="title current-typo--h6">Abgeschlossene Projekte</h4>
                        </div>
                    </div>

                    <div class="tb-height--56"></div>

                    <div fxLayout="row wrap" fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Design</h5>
                        </div>
                        <div class="skill" style="background-color: #FFD647;">
                            <h5 class="current-typo--h5 tb-color--black">UI/UX</h5>
                        </div>
                        <div class="skill" style="background-color: #F57FFF;">
                            <h5 class="current-typo--h5 tb-color--black">Logo</h5>
                        </div>
                        <div class="skill" style="background-color: #6F73C3;">
                            <h5 class="current-typo--h5 tb-color--white">Prototyp</h5>
                        </div>
                    </div>

                    <div class="tb-height--8"></div>

                    <div fxLayout="row wrap" fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Entwicklung</h5>
                        </div>
                        <div class="skill" style="background-color: #F44040;">
                            <h5 class="current-typo--h5 tb-color--white">Angular</h5>
                        </div>
                        <div class="skill" style="background-color: #68F17E;">
                            <h5 class="current-typo--h5 tb-color--black">Android</h5>
                        </div>
                        <div class="skill" style="background-color: #027DFD;">
                            <h5 class="current-typo--h5 tb-color--white">Flutter</h5>
                        </div>
                    </div>

                    <div class="tb-height--56"></div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32">
                        <a class="btn-area-cv" href="https://drive.google.com/file/d/1jFFc7Af7clmWZ1cfcVVP78AuTmMO4Q_4/view?usp=sharing" target="_blank">
                            <button mat-raised-button color="primary">
                                <span class="current-typo--button-medium">Download CV</span>
                            </button>
                        </a>
                    </div>
                </div>

                <div fxFlex class="image-container" fxLayout="column" fxLayoutAlign="center stretch">
                    <div class="tb-text--align-center image-area">
                        <img class="image" src="assets/img/avatar/pic_avatar.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
