<div class="main">
  <div class="footer">
    <div class="social-area">
      <div class="social">
        <a href="https://github.com/RaphaelWirthBFH" target="_blank" matTooltip="GitHub">
          <button mat-icon-button>
            <img src="assets/icons/github.svg" alt="GitHub Icon" width="24" height="24">
          </button>
        </a>
        <a href="https://www.linkedin.com/in/raphael-wirth-8b0104226/" target="_blank" matTooltip="LinkedIn">
          <button mat-icon-button>
            <img src="assets/icons/linkedin.svg" alt="LinkedIn Icon" width="24" height="24">
          </button>
        </a>
        <a href="https://www.instagram.com/wirthu123/?next=%2F" target="_blank" matTooltip="Instagram">
          <button mat-icon-button>
            <img src="assets/icons/instagram.svg" alt="Instagram Icon" width="24" height="24">
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
