body {
    background-color: #F5F5F5; /* Hier ersetzt du #F5F5F5 durch die gewünschte Farbe */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Optional: Standard-Schriftart */
  }
  